body { 
    background-color: #f8f9fa; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.music-player {
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 400px; 
}

#cover {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s;
}

#cover:hover {
    transform: scale(1.05);
}

.song-title {
    font-size: 26px; 
    margin: 15px 0 5px 0;
    color: #333;
    font-weight: bold;
}

.song-author {
    font-size: 20px; 
    margin: 5px 0;
    color: #666; 
}

.controls {
    margin: 20px 0;
    display: flex;
    justify-content: space-between; 
}

.btn {
    background: linear-gradient(135deg, #6EC1E4, #2A7FAA); 
    color: white;
    border: none;
    padding: 12px 20px; 
    border-radius: 50px; 
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
    width: 80px; 

.btn:hover {
    background: linear-gradient(135deg, #549DBE, #1E5F8A); 
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3); 
}

.btn:active {
    transform: translateY(-2px); 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); 
}

.liked-message {
    margin-top: 10px;
    font-weight: bold;
    color: green;
    opacity: 0;
    transition: opacity 0.3s;
}

.liked-message.show {
    opacity: 1;
}

@media (max-width: 500px) {
    .music-player {
        width: 90%; 
    }

    .song-title {
        font-size: 22px;
    }

    .song-author {
        font-size: 18px; 
    }

    .btn {
        font-size: 14px; 
        padding: 10px; 
    }
}
